<form>
  <label for="name" class="inline-block font-bold">Name</label>
  <input id="name" type="text" name="name" class="block w-full p-2 border-2 rounded focus:border-blue-600 focus:ring-blue-600" />

  <label for="email" class="inline-block mt-2 font-bold">Email</label>
  <input id="email" type="email" name="email" class="block w-full p-2 border-2 rounded focus:border-blue-600 focus:ring-blue-600" />

  <label for="message" class="inline-block mt-2 font-bold">Message</label>
  <textarea id="message" name="message" class="block w-full p-2 border-2 rounded focus:border-blue-600 focus:ring-blue-600" />

  <button type="submit" class="block w-full p-2 mt-4 rounded bg-blue-700 text-white">Submit</button>
</form>
